<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CenturyLink">

    <listeners>
        <listener class-name="CenturyLink.utilities.reporting"/>
    </listeners>

    <test name="LoginTest">
        <classes>
            <class name="com.qa.webtests.LoginTest"/>
            <class name="com.qa.webtests.LoginTest_DataDriven"/>
        </classes>
    </test>
</suite>